@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.section {
  padding: $spacing-20 0;
  
  @include md {
    padding: $spacing-24 0;
  }
}

.title {
  font-family: $font-serif;
  font-size: $text-3xl;
  color: $sand;
  margin-bottom: $spacing-8;
  
  @include md {
    font-size: $text-4xl;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: $sand-10;
}

